---
import ArrowUp from "~icons/mdi/arrow-up-circle-outline"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <title>Lost Halls - Map reading</title>
    <script is:inline>
      // ☝️ This script prevent the FART effect.
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "light")
      } else
        document.documentElement.setAttribute(
          "data-theme",
          localStorage.getItem("theme")
        )
      // "theme" LocalStorage value is set by the package to remember user preference.
      // The value is checked and applyed before rendering anything.
    </script>
    <script>
      import { themeChange } from "theme-change"
      themeChange()
      // 👆 you could import the CDN directly instead of these two lines
    </script>
  </head>
  <body>
    <slot />
    <a class="button-up" href="#lost-halls-map-reading-guide">
      <ArrowUp font-size={40} />
    </a>
  </body>
</html>

<style is:global lang="scss">
  @import url(https://fonts.googleapis.com/css?family=Hanken+Grotesk:regular,500,700);

  :root {
    --bg-primary: #ffffff;
    --bg-secondary: #f8f8f8;
    --bg-primary-content: #3f424a;
    --bg-primary-content-accent: black;
    --header-border: 1px solid #dddddd;
    --button-up-color: #eba574;
    --button-up-color-hover: #dc8446;
    --main-header-color: #0e1f31;
    --subheader-color: #11263c;
    --details-color: #f8f5f5;
    --navbar-desktop-bg: #f9f8f8;
    --navbar-desktop-border: 1px solid #eaeaea;
    --navbar-link-bg: #fae9dd;
    --navbar-link-bg-hover: #ffc69d;
    --icon-color: "#333333";
    --footer-bg: #f8f8f8;
    --footer-color-accent: #dc8446;
  }

  html[data-theme="dark"] {
    --bg-primary: #0e1016;
    --bg-secondary: #12151c;
    --bg-primary-content: #acb2c9;
    --bg-primary-content-accent: white;
    --header-border: 1px solid #292e40;
    --button-up-color: #98b2ff;
    --button-up-color-hover: #b7c9ff;
    --main-header-color: #eceef3;
    --subheader-color: #d9dbe2;
    --details-color: #1d222d;
    --navbar-desktop-bg: transparent;
    --navbar-desktop-border: 1px solid #1a1e28;
    --navbar-link-bg: rgba(158, 158, 255, 0.123);
    --navbar-link-bg-hover: #9e9eff58;
    --icon-color: "#ffffff";
    --footer-bg: #0b0d11;
    --footer-color-accent: #98b2ff;
  }

  * {
    box-sizing: border-box;
  }

  html,
  body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    scroll-behavior: smooth;
  }

  body {
    font-family: "Hanken Grotesk", "Lora", sans-serif;
    background-color: var(--bg-primary);
    opacity: 1;
    background-image: linear-gradient(#12141c 0.9px, transparent 0.9px),
      linear-gradient(to right, #12141c 0.9px, var(--bg--primary) 0.9px);
    background-size: 18px 18px;
    color: var(--bg-primary-content);
    display: flow-root;
    font-size: 1.25rem;
    position: relative;
  }

  @media (max-width: 700px) {
    body {
      font-size: 1.1rem;
    }
  }

  img {
    width: min(100%, 30rem);
    height: auto;
    border-radius: 0.25em;
  }

  .button-up {
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 2.5em;
    right: 3em;
    z-index: 2;
    color: var(--button-up-color);
    background-color: var(--bg-secondary);
    border-radius: 12rem;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    &:visited {
      color: var(--button-up-color);
    }
    &:hover {
      transition: all 0.5s ease-in-out;
      background-color: var(--bg-secondary);
      color: var(--button-up-color-hover);
    }
  }

  .hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding-top: 1em 0;
    color: var(--subheader-color);
    border-bottom: var(--header-border);
  }

  h1:before {
    content: "";
    background-image: url(../assets/lost-halls-portal.png);
    background-size: 100% 100%;
    display: inline-block;

    /*size of your image*/
    height: 50px;
    width: 50px;

    /*if you want to change the position you can use margins or:*/
    position: relative;
    top: 0.5rem;
    right: 0.3rem;
  }

  h2:before,
  h3:before,
  h4:before,
  h5:before,
  h6:before {
    content: "";
    background-image: url(../assets/pot.png);
    background-size: 100% 100%;
    display: inline-block;

    /*size of your image*/
    height: 40px;
    width: 40px;

    /*if you want to change the position you can use margins or:*/
    position: relative;
    top: 0.5rem;
    right: 0.25rem;
  }

  h1 {
    padding-top: 0;
    line-height: 1.25;
    color: var(--main-header-color);
    border-bottom: none;
    margin: 0;
    margin-bottom: 0.75em;
  }

  p {
    margin-top: 0.25em;
  }

  @media (max-width: 700px) {
    h1 {
      margin: 0;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      padding-top: 2.5em;
    }

    .button-up {
      bottom: 1em;
      right: 1em;
    }
  }
</style>

<script>
  setInterval(() => {
    const button = document.querySelector(".button-up")!
    const currentScrollPosition = window.scrollY
    if (currentScrollPosition > 1500) {
      button.classList.remove("hidden")
    } else {
      button.classList.add("hidden")
    }
  }, 300)
</script>
